
<h2 class="my-10 text-3xl font-bold text-center text-black">Мої вакансії</h2>

<div id="vacancies">
  <% @vacancies.each do |vacancy| %>
    <%= render vacancy %>
    <!-- <p>
      <%= link_to "Show this vacancy", vacancy %>
    </p> -->
  <% end %>
</div>

<!-- <%= link_to "New vacancy", new_vacancy_path %> -->
