
<div class="flex flex-col justify-between h-[480px] my-[80px] p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 bg-[url('cards/banner.png')] bg-no-repeat bg-cover">
  <a href="#">
      <h5 class="mb-2 text-[46px] font-bold tracking-tight text-gray-900 dark:text-white">Speak English in 10 minutes a day</h5>
  </a>

  <%= link_to "Start learning now", root_path, class: "w-[270px] mt-8 py-4 inline-flex justify-center items-center px-3 py-2 text-lg font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" %>
</div>
